<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Companies</title>
    <style>table,
    td {
        border: 1px solid #333;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
    }

    thead,
    tfoot {
        background-color: #e8e5e5;
        color: #344712;
    }
    </style>
    <style>
        table, th, td {
            border: 1px solid #1e1818;
            padding: 3px;
        }
    </style>
</head>
<body>

<table class="table table-bordered ">
    <thead class="table-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Student firstName</th>
        <th scope="col">lastName</th>
        <th scope="col">phoneNumber</th>
        <th scope="col">email </th>
        <th scope="col">studyFormat </th>

    </tr>
    </thead>
    <tbody class="table-success">
    <!--    //changed , foreach -->
    <tr th:each="student:${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.phoneNumber}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.studyFormat}"></td>
        <!--//<a th:href="@{/courses/{id}/updateCourse(id=${course.getId()})}">update</a>-->

        <td><a th:href="@{/students/edit/{id}(id=${student.getId()})}">
            <button style="height: 40px; width: 80px; background-color:blue;">Update</button>
        </a>
        </td>
        <td><form th:method="DELETE" th:action="@{/students/{id}/{courseId}(id=${student.getId()},coureId=${courseId})}">
            <input type="submit" value="Delete" style="height: 40px; width: 80px; background-color:darkorange;"/></form></td>
    </tr>
    </tbody>
</table>
<br><br><br><br>

<div style="text-align: center">
    <a th:href="@{/students/{id}/addStudent(id=${courseId})}">
        <button style="font-size: 30px;"> Add Course </button> </a>
</div>

<!--<input style=" display: block; margin:auto; font-size:30px;" type="button" value="Add Course"-->
<!--       onclick="window.location.href = 'getAllCourses/addCourse'">-->
</body>
</html>
