<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<form th:action="@{saveCourse}"
      th:object="${com.model.Course}"
      method="post"
      style="text-align:center; margin-top:200px; font-size: 30px;">
    <input type="hidden" name = "id" th:field="${com.model.Course.id}">
    <input type="text"  name="Course Name" th:field="${com.model.Course.courseName}" placeholder="Course Name">
    <input type="text"  name="durationOfMonth" th:field="${com.model.Course.duration}" placeholder="Duration">
    <br><br>

<!--    I add com and model packages-->
    <select th:field="${com.model.Course.company}">
        <option th:each="company:${com.model.Company.courses}"
                th:value="${company.getId()}"
                th:text="${company.getCourseName()()}"></option>
    </select>
    <input type="submit" value="Add">

</form>

</body>
</html>